@charset "utf-8";

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.css-header-middle h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 98px;
    height: 40px;
    background-color: #5383E8;
}

